body {
    font-family: "Roboto", sans-serif;
  }
  .navigation-list-link-studio {
    position: absolute;
width: 49px;
height: 16px;
left: 453px;
top: 32px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #2196F3;
  }
  
  .navigation-list-link-portfolio {
    position: absolute;
width: 77px;
height: 16px;
left: 552px;
top: 32px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
  }